.project {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #212121;
  border-radius: 16px;
  transition: 0.25s;
}

.project:hover {
  box-shadow: #496bbe 0px 0px 10px;
}

.project h2 {
  margin-bottom: 10px;
}

.action-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.action-buttons {
  display: flex;
  gap: 10px;
}
