:root {
  font-family: "Ubuntu", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary: #496bbe;
  --color-sub: #868686;
  --white: #ffffff;
  --dark: #242424;
  --dark-highlight: #212121;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  min-height: 100vh;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

h2 {
  margin: 0;
}

article {
  text-align: left;
  line-break: auto;
  width: 100%;
}

span {
  font-size: 1.1rem;
}

a {
  color: var(--color-primary);
  transition: 0.25s;
}

a:hover {
  text-decoration: underline;
  text-shadow: var(--color-primary) 0px 0px 10px;
}

sub {
  color: var(--color-sub);
  font-size: 0.8rem;
  padding: 5px;
}

b {
  text-shadow: var(--color-primary) 1px 1px 1px;
}

hr {
  width: 100%;
}

.divider {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  width: 100%;
}

.large-logo {
  width: 20%;
  max-width: 20%;
  height: auto;
}

.name-display {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.horizontal-container .left {
  width: 60%;
}

.horizontal-container .right {
  width: 40%;
}

.name-display h1 {
  margin: 0;
}

.content {
  width: 80%;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accented-text {
  text-shadow: var(--color-primary) 5px 5px 10px;
}

.large-text {
  font-size: 1.2rem;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.horizontal-container .left {
  width: 50%;
}

.horizontal-container .right {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.horizontal-container .right img {
  width: 90%;
}

@media only screen and (max-width: 650px) {
  h1 {
    margin: 0px;
  }

  article {
    width: 90%;
  }

  .name-display {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .large-logo {
    width: 50%;
    max-width: 50%;
  }
  .horizontal-container {
    flex-direction: column;
  }
  .horizontal-container .left {
    width: 100%;
  }
  .horizontal-container .right {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--white);

    --dark: var(--white);
    --dark-highlight: #f5f5f5;
  }
}
